@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/SemiboldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/RegularItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/ExtraboldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Extrabold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wonder Unit Sans";
    src: url("/fonts/wonder-unit-sans/Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
